@import "semantic-ui";

.chatbox {
  height: 55vh;
}

.sticky-wrap{
	display:flex;
	flex-direction:column;
	min-height:100vh
}

.sticky-footer{margin-top:auto}

#message-box {
	overflow: auto;
	height: 45vh;
}
